params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    /***********************
    *    REQUIRED PARAMS   *
    ************************/

    fasta = './test/Lp_genome_Chr26-25.fasta.gz'
    fai   = './test/Lp_genome_Chr26-25.fasta.fai'
    
    vcf   = './test/msp_norm_qual20_maf01.vcf.gz'
    tbi   = './test/msp_norm_qual20_maf01.vcf.gz.tbi'

    fq    = './test/*.{1,2}.fq.gz'

    /*******************************************************************************************************/

    enable_freebayes = true

    max_memory = 3.GB
    max_cpus   = 5
    max_time   = 30.min

    // saving intermediate files
    output_mode   = 'symlink'
}

process {
    cpus   = { check_max( 3    * task.attempt, 'cpus'   ) }
    memory = { check_max( 3.0.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
}