params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    /***********************
    *    REQUIRED PARAMS   *
    ************************/

    fasta = '/mnt/c/nextflow/testing/vg_workflow/Lp_genome_Chr26.fasta'
    fai   = '/mnt/c/nextflow/testing/vg_workflow/Lp_genome_Chr26.fasta.fai'
    
    vcf   = '/mnt/c/nextflow/testing/vg_workflow/msp_RADseqPopFilters.vcf.gz'
    tbi   = '/mnt/c/nextflow/testing/vg_workflow/msp_RADseqPopFilters.vcf.gz.tbi'

    fq    = '/mnt/c/nextflow/testing/vg_workflow/*.{1,2}.fq.gz'

    /*******************************************************************************************************/

    max_memory = 5.0.GB
    max_cpus   = 2
    max_time   = 30.min

    // saving intermediate files
    output_mode   = 'symlink'
}

docker {
    enabled         = true
    singularity.enabled = false
    userEmulation   = true
}

process {
    cpus   = { check_max( 3    * task.attempt, 'cpus'   ) }
    memory = { check_max( 3.0.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
}